extends ../layout

block content
    .playoff.Fix.inner
        - var list = [playOff.west , playOff.east];

        each area,i in list
            .area(class=i==0?'west':'east')
                each round,j in area
                    .round(class="round#{j+1}")
                        each team,index in round
                            .box(class= team && team.Type=='team' ? '#{team.cls}':'',class='#{team.Type}',class=index==round.length-1?'last':'',class=index%2==0?'even':'odd')
                                if team.Type == 'null'
                                    span ?
                                else if team.Type == "team"
                                    if j==0
                                        span.logo
                                    span.team #{team.TeamName}
                                    span.score #{team.TeamWin}
                                else if team.Type == "live"
                                    if team.live
                                        a.on
                                    else if team.next
                                        | #{team.next.displayTime}
                                .self-line
                                if index%2==0 && j<3
                                    .hor
                                    .ver

        if !playOff.champion
            .champion
                img(src='/playball/static/stylesheets/img/obrein.jpg')

    .Title
        .inner LIVE!
    .lives.inner
        each list,date in lives
            .date #{date}
            ul.games
                each game in list
                    li #{game.time}
                        b  #{game.hostShortName}
                            if game.Status !=0
                                |  #{game.HostScore}
                            |  -
                            if game.Status !=0
                                |  #{game.VisitScore}
                            |  #{game.visitShortName}
                        if game.Status != 2 && game.lives && game.lives.length
                            each live in game.lives
                                a.link(href="#{live.Link}",target='_blank') #{live.Name}

