.game_detail
    .game_info
        .team_info.Fix
            .team.Left
                .team_logo
                    img(src="#{HostLogo}",width="100%",height="auto")
                .name #{HostName}
                .score #{HostScore}

            .team.Right
                .team_logo
                    img(src="#{VisitLogo}",width="100%",height="auto")
                .name #{VisitName}
                .score #{VisitScore}

            .status #{StatusText}

        .time 开赛时间：#{Time}
